<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<link rel="stylesheet" type="text/css"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css">
<body>
    <h3 class="display-4 text-center my-4">Издательства</h3>
    <div class="row">
        <div class="col-md-6 mx-auto">
                    {% for publisher in publishers %}
                    <ul class="list-group">
                        <li class="list-group-item">
                            {{ publisher.name }}
                            <ul class="list-group">
                                {% for book in publisher.books.all %}
                                    <li class="list-group-item"> <strong> {{ book.title }} </strong> </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                {% endfor %}
        </div>
    </div>
</body>
